*{
    padding: 0;
    margin: 0;
}

section{
    height: 50vh;
    background-color: navajowhite;
}
.a{
    color: #fff;
    background-color: #000;
    width: 30%;
}
.pani{
    color: tomato;
    background-color: hotpink;
    width: 20%;
}
.asid{
    color: yellow;
    background-color: green;
    width: 40%;
}
.ab{
    color: darkblue;
    background-color: #fff;
    width: 60%;
}


.potaka{
    height: 300px;
    width: 500px;
    background-color: green;
    margin: auto;
    border-radius: 20px 0 20px 0;
}
.birto{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: red;
    margin: auto;

}

